<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="3" name="Suite" parallel="tests">
    <suite-files>
    	<suite-file path="./src/test/resources/suitefiles/welcome.xml" />
        <suite-file path="./src/test/resources/suitefiles/hero.xml" />
    </suite-files>
</suite>